.u-section-1 .u-sheet-1 {
  min-height: 1526px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 93px;
  margin: 70px 113px 0 367px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 91px;
  margin: 15px 188px 0 442px;
}

.u-section-1 .u-image-1 {
  width: 254px;
  height: 339px;
  margin: -199px auto 0 113px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 90px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 617px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 9px;
}

.u-section-1 .u-icon-1 {
  width: 100px;
  background-image: none;
  height: 100px;
  margin: 31px auto 0 22px;
  padding: 18px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 155px;
  margin: -115px 0 0 137px;
}

.u-section-1 .u-icon-2 {
  width: 100px;
  background-image: none;
  height: 100px;
  margin: 81px auto 0 22px;
  padding: 18px;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 126px;
  margin: -113px 0 0 137px;
}

.u-section-1 .u-icon-3 {
  width: 100px;
  background-image: none;
  height: 100px;
  margin: 78px auto 0 22px;
  padding: 18px;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 126px;
  margin: -113px 0 0 137px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 617px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-custom-html-6 {
  height: auto;
  min-height: 581px;
  width: 491px;
  margin: 18px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 42px;
    margin-right: 0;
    margin-left: 318px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 8px;
    margin-right: 112px;
    margin-left: 318px;
  }

  .u-section-1 .u-image-1 {
    width: 295px;
    height: 338px;
    margin-top: -192px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 632px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 31px;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 184px;
    margin-top: -128px;
    margin-right: 18px;
    margin-left: 149px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 33px;
    margin-left: 31px;
  }

  .u-section-1 .u-custom-html-4 {
    min-height: 155px;
    margin-top: -133px;
    margin-right: 18px;
    margin-left: 149px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 54px;
    margin-left: 31px;
  }

  .u-section-1 .u-custom-html-5 {
    min-height: 155px;
    margin-top: -128px;
    margin-right: 18px;
    margin-left: 149px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 632px;
  }

  .u-section-1 .u-custom-html-6 {
    min-height: 586px;
    width: 428px;
    margin-top: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1246px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 118px;
    margin-top: 50px;
    margin-left: 380px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 142px;
    margin-top: 5px;
    margin-left: 380px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    margin-top: -266px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 67px;
    margin-bottom: 5px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 786px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 155px;
    width: 342px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-4 {
    min-height: 126px;
    width: 342px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-5 {
    min-height: 126px;
    width: 342px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 786px;
  }

  .u-section-1 .u-custom-html-6 {
    min-height: 740px;
    margin-right: 0;
    margin-left: 20px;
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1501px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 65px;
    margin-right: 7px;
    margin-left: 213px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 117px;
    margin-right: 57px;
    margin-left: 213px;
  }

  .u-section-1 .u-image-1 {
    width: 198px;
    height: 269px;
    margin-top: -250px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 75px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 31px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: -111px;
    margin-right: 15px;
    margin-left: 146px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 31px;
    margin-left: 31px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: -113px;
    margin-right: 8px;
    margin-left: 151px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 38px;
    margin-left: 31px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: -100px;
    margin-right: 22px;
    margin-left: 151px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 582px;
  }

  .u-section-1 .u-custom-html-6 {
    min-height: 538px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2349px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 91px;
    margin-top: -37px;
    margin-right: 3px;
    margin-left: -2px;
  }

  .u-section-1 .u-image-1 {
    height: 270px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1085px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 184px;
    width: 322px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 101px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-4 {
    min-height: 155px;
    width: 322px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 98px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-5 {
    min-height: 155px;
    width: 322px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 763px;
  }

  .u-section-1 .u-custom-html-6 {
    min-height: 740px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}