.u-section-1 .u-sheet-1 {
  min-height: 522px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1088px;
  margin: 44px auto 44px 14px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 435px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 4px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 401px;
  width: 504px;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 524px;
  height: 349px;
  margin: -387px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 48px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 4px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 426px;
    margin-top: 11px;
    margin-right: 490px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 430px;
    height: 287px;
    margin-top: -372px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 37px;
    margin-bottom: 7px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 478px;
    margin-top: 38px;
    margin-right: 7px;
    margin-left: 338px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 501px;
    margin-top: -490px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 11px;
    margin-bottom: 11px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 707px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 375px;
    width: 518px;
    margin-top: 318px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    height: 288px;
    margin-top: -693px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 798px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 252px;
    margin-top: -778px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 728px;
}

.u-section-2 .u-line-1 {
  width: 100px;
  height: 0;
  margin: 60px auto 0;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 314px;
  width: 969px;
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 720px;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 714px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 664px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 12px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 432px;
  margin: 29px 646px 0 39px;
}

.u-section-3 .u-image-1 {
  width: 558px;
  height: 592px;
  margin: -462px 30px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 582px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 496px;
    margin-top: 11px;
    margin-right: 494px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 441px;
    height: 468px;
    margin-top: -496px;
    margin-right: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 27px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 1px 5px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 574px;
    margin-top: 0;
    margin-right: 346px;
    margin-left: 7px;
  }

  .u-section-3 .u-image-1 {
    width: 331px;
    height: 431px;
    margin-top: -515px;
    margin-right: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 862px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 406px;
    margin-top: 446px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    margin-top: -852px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 832px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 573px;
    margin-top: 247px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 310px;
    height: 221px;
    margin-top: -811px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 604px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 591px;
}

.u-section-4 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 202px;
  margin: 151px 49px 0 614px;
}

.u-section-4 .u-image-1 {
  width: 540px;
  height: 360px;
  margin: -281px auto 0 21px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 547px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 3px 0;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 227px;
    margin-top: 115px;
    margin-right: 30px;
    margin-left: 489px;
  }

  .u-section-4 .u-image-1 {
    width: 472px;
    height: 329px;
    margin-top: -294px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 10px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 176px;
    width: 695px;
    margin-top: 371px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    width: 716px;
    height: 357px;
    margin-top: -543px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 5px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 598px;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 202px;
    margin-top: 336px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    height: 324px;
    margin-top: -538px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 214px;
    margin-top: 242px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 226px;
    margin-top: -448px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 895px;
}

.u-section-5 .u-shape-1 {
  width: 1028px;
  height: 513px;
  margin: 141px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 852px;
  margin: -583px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 758px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 632px;
  margin: 28px 423px 0 18px;
}

.u-section-5 .u-image-1 {
  width: 393px;
  height: 694px;
  margin: -639px 9px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-5 .u-shape-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -605px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 780px;
  }

  .u-section-5 .u-image-1 {
    height: 667px;
    margin-top: -632px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-5 .u-shape-1 {
    height: 472px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 650px;
    margin-top: -530px;
    margin-bottom: 2px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 652px;
  }

  .u-section-5 .u-custom-html-1 {
    min-height: 465px;
    width: 549px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    width: 331px;
    height: 585px;
    margin-top: -788px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-5 .u-shape-1 {
    height: 603px;
    margin-top: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 443px;
    margin-top: -655px;
    margin-bottom: -16px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 802px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-custom-html-1 {
    min-height: 632px;
    width: 383px;
    margin-top: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-5 .u-shape-1 {
    height: 629px;
    margin-top: 93px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 259px;
    margin-top: -706px;
    margin-bottom: 30px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 830px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: 0;
    min-height: 784px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    width: 321px;
    height: 567px;
    margin-top: 13px;
    margin-right: -62px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 383px;
}

.u-section-6 .u-line-1 {
  width: 100px;
  height: 0;
  margin: 60px auto 0;
}

.u-section-6 .u-custom-html-1 {
  height: auto;
  min-height: 225px;
  width: 848px;
  margin: 31px auto 60px;
}

@media (max-width: 991px) {
  .u-section-6 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 438px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 97px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 324px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 324px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 25px;
}

.u-section-7 .u-custom-html-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 324px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-custom-html-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 324px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 30px 15px;
}

.u-section-7 .u-custom-html-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-7 .u-custom-html-5 {
  margin-top: -390px;
  margin-bottom: 60px;
  height: auto;
  min-height: 79px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 267px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 267px;
  }

  .u-section-7 .u-custom-html-5 {
    margin-top: -490px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-custom-html-5 {
    margin-top: -601px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 88px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 17px 10px;
  }

  .u-section-7 .u-custom-html-1 {
    height: auto;
    min-height: 146px;
    width: 520px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 150px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-7 .u-custom-html-2 {
    height: auto;
    min-height: 163px;
    width: 520px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 135px;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-7 .u-custom-html-3 {
    height: auto;
    min-height: 146px;
    width: 520px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 169px;
  }

  .u-section-7 .u-container-layout-4 {
    padding: 0 10px;
  }

  .u-section-7 .u-custom-html-4 {
    height: auto;
    min-height: 146px;
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-7 .u-custom-html-5 {
    margin-top: -712px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 67px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-custom-html-2 {
    width: 320px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-custom-html-3 {
    width: 320px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-custom-html-4 {
    min-height: 226px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-custom-html-5 {
    margin-top: -837px;
  }
}.ordlista {
 display: none;
}
.p a {
color: #f4d58d;
}