.u-section-1 .u-sheet-1 {
  min-height: 1608px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 1538px;
  margin: 35px 14px 35px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}