.u-section-1 .u-sheet-1 {
  min-height: 693px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 79px;
  margin: 45px 30px 0 506px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 438px;
  margin: 0 30px 0 506px;
}

.u-section-1 .u-image-1 {
  width: 438px;
  height: 657px;
  margin: -533px auto 60px 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 23px;
    margin-right: 0;
    margin-left: 461px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 515px;
    margin-top: 8px;
    margin-right: 0;
    margin-left: 461px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -624px;
    margin-bottom: 1px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 327px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 643px;
    margin-top: 0;
    margin-right: 24px;
    margin-left: 327px;
  }

  .u-section-1 .u-image-1 {
    width: 303px;
    margin-top: -707px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 405px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -8px;
    min-height: 490px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 382px;
    margin-top: -943px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 66px;
    margin-top: 392px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -13px;
    min-height: 720px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 364px;
    margin-top: -1145px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}