 .u-section-1 {
  background-image: none;
  min-height: 915px;
}

.u-section-1 .u-shape-1 {
  height: 578px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 624px;
  min-height: 822px;
  height: auto;
  margin: -541px auto 57px;
}

.u-section-1 .u-container-layout-1 {
  padding: 11px 23px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 91px;
  width: 578px;
  margin: 0 auto;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 310px;
  width: 578px;
  margin: -6px auto 0;
}

.u-section-1 .u-image-1 {
  width: 551px;
  height: 367px;
  text-align: start;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 966px;
  }

  .u-section-1 .u-group-1 {
    width: 751px;
    min-height: 936px;
    margin-top: -563px;
    margin-bottom: 15px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 10px 30px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -9px;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 489px;
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 943px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 891px;
    margin-bottom: 37px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 336px;
    margin-top: -20px;
  }

  .u-section-1 .u-image-1 {
    height: 469px;
    margin-top: -24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 844px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 787px;
    margin-top: -549px;
    margin-bottom: 29px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 521px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 520px;
    margin-top: -15px;
  }

  .u-section-1 .u-image-1 {
    height: 325px;
    margin-top: -13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 895px;
  }

  .u-section-1 .u-group-1 {
    width: 408px;
    min-height: 878px;
    margin-top: -578px;
    margin-bottom: 17px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 66px;
    margin-top: 18px;
    width: 320px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 413px;
    width: 388px;
    margin-top: -27px;
  }

  .u-section-1 .u-image-1 {
    height: 361px;
    margin-top: 17px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 694px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 79px;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-2 .u-custom-html-2 {
  margin-top: -9px;
  margin-bottom: 0;
  height: auto;
  min-height: 66px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-custom-html-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-custom-html-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-custom-html-5 {
  height: auto;
  min-height: 91px;
  width: 320px;
  margin: 124px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-custom-html-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-custom-html-7 {
  height: auto;
  min-height: 117px;
  width: 320px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 63px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-2 .u-custom-html-5 {
    width: 253px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 165px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 165px;
  }

  .u-section-2 .u-custom-html-7 {
    width: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 118px;
    margin-top: 47px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 47px;
    margin-bottom: 47px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 339px;
  }

  .u-section-2 .u-custom-html-5 {
    min-height: 117px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 191px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 202px;
  }

  .u-section-2 .u-custom-html-7 {
    min-height: 142px;
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 446px;
    margin: 0 35px 13px auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 5px 10px;
  }

  .u-section-2 .u-custom-html-3 {
    height: auto;
    min-height: 91px;
    width: 423px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 139px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 4px 10px;
  }

  .u-section-2 .u-custom-html-4 {
    height: auto;
    min-height: 117px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 227px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-5 {
    min-height: 91px;
    margin-top: 25px;
    margin-right: 45px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 142px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0 10px;
  }

  .u-section-2 .u-custom-html-6 {
    height: auto;
    min-height: 142px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 125px;
  }

  .u-section-2 .u-custom-html-7 {
    min-height: 117px;
    width: 423px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 93px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: -8px;
    min-height: 91px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 2px;
    margin-bottom: 0;
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 111px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 320px;
    margin-bottom: -32px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-custom-html-4 {
    width: 320px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 151px;
  }

  .u-section-2 .u-custom-html-5 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 154px;
  }

  .u-section-2 .u-custom-html-6 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 202px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 9px;
    padding-bottom: 64px;
  }

  .u-section-2 .u-custom-html-7 {
    width: 320px;
  }
}.white-background {
background-color:rgba(192,192,192,0.3);
}