.u-section-1 .u-sheet-1 {
  min-height: 531px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 79px;
  margin: 50px 25px 0 453px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 382px;
  margin: 0 25px 0 450px;
}

.u-section-1 .u-image-1 {
  width: 428px;
  height: 321px;
  margin: -421px auto 60px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 439px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 484px;
    margin-top: -8px;
    margin-right: 0;
    margin-left: 439px;
  }

  .u-section-1 .u-image-1 {
    height: 410px;
    margin-top: -460px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 365px;
    margin-right: 58px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 368px;
    margin-top: -910px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 339px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 325px;
    margin-top: -864px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -17px;
    min-height: 689px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 266px;
    margin-top: -1010px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 909px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 79px;
  margin: 54px 549px 0 0;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 729px;
  margin: 0 549px 0 0;
}

.u-section-2 .u-image-1 {
  width: 448px;
  height: 671px;
  margin: -729px 35px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1574px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 64px;
    margin-right: 470px;
  }

  .u-section-2 .u-custom-html-2 {
    min-height: 857px;
    margin-top: 5px;
    margin-right: 470px;
  }

  .u-section-2 .u-image-1 {
    height: 983px;
    margin-top: -963px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1350px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 583px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: -7px;
    min-height: 673px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 503px;
    margin-top: -1279px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 447px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: -15px;
    min-height: 780px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 399px;
    margin-top: -1272px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1536px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: -24px;
    min-height: 1138px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 300px;
    margin-top: -1514px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}