.u-section-1 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 47px;
  margin-bottom: 0;
  height: auto;
  min-height: 66px;
}

.u-section-1 .u-custom-html-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 66px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 546px;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 0 10px;
}

.u-section-1 .u-image-1 {
  width: 277px;
  height: 277px;
  background-image: url("images/paneler-keps.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 33px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 194px;
  margin: 42px 47px 0 42px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 546px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 277px;
  height: 277px;
  background-image: url("images/snygg-keps.jpeg");
  background-position: 50% 50%;
  margin: 23px auto 0;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 194px;
  width: 320px;
  margin: 42px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 546px;
}

.u-section-1 .u-container-layout-3 {
  padding: 23px 30px 5px;
}

.u-section-1 .u-image-3 {
  width: 277px;
  height: 277px;
  background-image: url("images/feniks-keps.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 194px;
  width: 320px;
  margin: 47px auto 0;
}

.u-section-1 .u-custom-html-6 {
  height: auto;
  min-height: 118px;
  width: 760px;
  margin: 23px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 32px;
    min-height: 79px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 23px;
  }

  .u-section-1 .u-image-1 {
    width: 253px;
    height: 253px;
    margin-left: 21px;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 219px;
    margin-top: 4px;
    margin-right: 15px;
    margin-left: 21px;
  }

  .u-section-1 .u-image-2 {
    width: 253px;
    height: 253px;
    margin-top: 21px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 305px;
    margin-top: 6px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 23px;
  }

  .u-section-1 .u-image-3 {
    width: 253px;
    height: 253px;
  }

  .u-section-1 .u-custom-html-5 {
    min-height: 142px;
    width: 253px;
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-6 {
    width: 800px;
    margin-top: -47px;
    margin-bottom: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 117px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 54px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    height: 180px;
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 296px;
    width: 190px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-1 .u-image-2 {
    width: 180px;
    height: 180px;
  }

  .u-section-1 .u-custom-html-4 {
    min-height: 219px;
    width: 216px;
    margin-top: 3px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 543px;
  }

  .u-section-1 .u-image-3 {
    width: 180px;
    height: 180px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-5 {
    min-height: 219px;
    width: 180px;
    margin-top: 3px;
  }

  .u-section-1 .u-custom-html-6 {
    margin-top: -41px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1790px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 142px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 252px;
    height: 252px;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 142px;
    width: 520px;
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-1 .u-image-2 {
    width: 251px;
    height: 251px;
  }

  .u-section-1 .u-custom-html-4 {
    min-height: 142px;
    width: 520px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 505px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 252px;
    height: 252px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-5 {
    min-height: 123px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-6 {
    min-height: 158px;
    margin-top: -114px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1832px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 24px;
    min-height: 66px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 219px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 54px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 171px;
    margin-top: 0;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-custom-html-4 {
    min-height: 168px;
    margin-top: 16px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 473px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-custom-html-5 {
    min-height: 142px;
    margin-top: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-6 {
    min-height: 119px;
    margin-top: -41px;
    margin-bottom: 51px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}