.u-section-1 .u-sheet-1 {
  min-height: 325px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1088px;
  margin: 30px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 265px;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 20px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 12px 10px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    min-height: 298px;
    width: 520px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 730px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 196px;
  margin: 30px 230px 0 40px;
}

.u-section-2 .u-group-1 {
  width: 240px;
  min-height: 322px;
  height: auto;
  margin: 31px auto 0 74px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 6px;
}

.u-section-2 .u-icon-1 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 155px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-2 {
  width: 240px;
  min-height: 322px;
  height: auto;
  margin: -322px auto 0 325px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 6px;
}

.u-section-2 .u-icon-2 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-2 .u-custom-html-3 {
  height: auto;
  min-height: 155px;
  width: 180px;
  margin: 0;
}

.u-section-2 .u-group-3 {
  width: 240px;
  min-height: 322px;
  height: auto;
  margin: -322px auto 0 576px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-3 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-2 .u-custom-html-4 {
  height: auto;
  min-height: 155px;
  width: 180px;
  margin: 0;
}

.u-section-2 .u-group-4 {
  width: 240px;
  min-height: 322px;
  height: auto;
  margin: -322px auto 0 827px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-2 .u-icon-4 {
  width: 100px;
  height: 100px;
  margin: 30px auto 0;
  padding: 6px;
}

.u-section-2 .u-custom-html-5 {
  margin: 0 auto;
}

.u-section-2 .u-custom-html-6 {
  height: auto;
  min-height: 91px;
  width: 870px;
  margin: 30px auto 29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 70px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: 33px;
    margin-left: 209px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: -318px;
    margin-right: 195px;
    margin-left: auto;
    height: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 26px;
    margin-left: 209px;
    height: auto;
  }

  .u-section-2 .u-group-4 {
    margin-right: 195px;
    margin-left: auto;
    height: auto;
  }

  .u-section-2 .u-custom-html-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-custom-html-6 {
    margin: 47px 70px 60px 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-left: 100px;
  }

  .u-section-2 .u-group-2 {
    margin-right: 120px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 20px;
    margin-left: 100px;
  }

  .u-section-2 .u-group-4 {
    margin-right: 120px;
  }

  .u-section-2 .u-custom-html-6 {
    min-height: 117px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 30px;
    margin-left: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 35px;
  }

  .u-section-2 .u-custom-html-5 {
    height: auto;
    min-height: 117px;
    width: 220px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-6 {
    margin-top: 40px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1922px;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 286px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    margin-top: 37px;
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: 23px;
    margin-right: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-2 .u-custom-html-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-4 {
    margin-top: 23px;
    margin-right: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-2 .u-custom-html-6 {
    min-height: 168px;
    margin-top: 14px;
    margin-bottom: 29px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 733px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 169px;
  width: 1086px;
  margin: 21px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 526px;
  height: 228px;
  margin: 14px auto 0 36px;
}

.u-section-3 .u-shape-2 {
  width: 14px;
  height: 139px;
  margin: -201px auto 0 57px;
}

.u-section-3 .u-shape-3 {
  width: 526px;
  height: 228px;
  margin: -166px 35px 0 auto;
}

.u-section-3 .u-shape-4 {
  width: 14px;
  height: 139px;
  margin: -201px 526px 0 auto;
}

.u-section-3 .u-custom-html-2 {
  height: auto;
  min-height: 161px;
  margin: -166px 623px 0 93px;
}

.u-section-3 .u-custom-html-3 {
  height: auto;
  min-height: 186px;
  margin: -161px 80px 0 635px;
}

.u-section-3 .u-shape-5 {
  width: 526px;
  height: 228px;
  margin: 63px auto 0 36px;
}

.u-section-3 .u-shape-6 {
  width: 14px;
  height: 139px;
  margin: -197px auto 0 58px;
}

.u-section-3 .u-shape-7 {
  width: 526px;
  height: 228px;
  margin: -170px 38px 0 auto;
}

.u-section-3 .u-shape-8 {
  width: 14px;
  height: 139px;
  margin: -197px 526px 0 auto;
}

.u-section-3 .u-custom-html-4 {
  height: auto;
  min-height: 159px;
  margin: -159px 80px 0 635px;
}

.u-section-3 .u-custom-html-5 {
  height: auto;
  min-height: 186px;
  margin: -163px 620px 60px 95px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-custom-html-1 {
    width: 940px;
  }

  .u-section-3 .u-shape-1 {
    width: 424px;
    margin-top: 47px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    margin-left: 21px;
  }

  .u-section-3 .u-shape-3 {
    width: 414px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -204px;
    margin-right: 379px;
  }

  .u-section-3 .u-custom-html-2 {
    min-height: 186px;
    margin-top: -163px;
    margin-right: 540px;
    margin-left: 57px;
  }

  .u-section-3 .u-custom-html-3 {
    min-height: 212px;
    margin-top: -186px;
    margin-right: 21px;
    margin-left: 582px;
  }

  .u-section-3 .u-shape-5 {
    width: 434px;
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-6 {
    margin-top: -205px;
    margin-left: 26px;
  }

  .u-section-3 .u-shape-7 {
    width: 414px;
    margin-top: -162px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-8 {
    margin-top: -204px;
    margin-right: 379px;
  }

  .u-section-3 .u-custom-html-4 {
    min-height: 185px;
    margin-top: -163px;
    margin-right: 21px;
    margin-left: 582px;
  }

  .u-section-3 .u-custom-html-5 {
    margin-top: -184px;
    margin-right: 516px;
    margin-left: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -204px;
    margin-left: 171px;
  }

  .u-section-3 .u-shape-3 {
    width: 424px;
    margin-top: 110px;
    margin-right: auto;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -207px;
    margin-right: auto;
    margin-left: 171px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: -434px;
    margin-right: 169px;
    margin-left: 199px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-top: 87px;
    margin-right: 169px;
    margin-left: 199px;
  }

  .u-section-3 .u-shape-5 {
    width: 424px;
    margin-top: 61px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-6 {
    margin-top: -204px;
    margin-left: 171px;
  }

  .u-section-3 .u-shape-7 {
    width: 424px;
    margin-top: 111px;
    margin-right: auto;
  }

  .u-section-3 .u-shape-8 {
    margin-top: -205px;
    margin-right: auto;
    margin-left: 171px;
  }

  .u-section-3 .u-custom-html-4 {
    margin-top: -162px;
    margin-right: 169px;
    margin-left: 197px;
  }

  .u-section-3 .u-custom-html-5 {
    margin-top: -458px;
    margin-right: 164px;
    margin-left: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1318px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -205px;
    margin-left: 21px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 99px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -204px;
    margin-left: 24px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: -422px;
    margin-right: 64px;
    margin-left: 52px;
  }

  .u-section-3 .u-custom-html-3 {
    width: 424px;
    margin-top: 99px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-shape-5 {
    margin-top: 335px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-6 {
    margin-top: -208px;
    margin-left: 26px;
  }

  .u-section-3 .u-shape-7 {
    margin-top: -422px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-8 {
    margin-top: -204px;
    margin-left: 24px;
  }

  .u-section-3 .u-custom-html-4 {
    width: 424px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-custom-html-5 {
    margin-top: -422px;
    margin-right: 64px;
    margin-left: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1411px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-3 .u-shape-2 {
    margin-left: 16px;
  }

  .u-section-3 .u-shape-3 {
    height: 238px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -213px;
    margin-right: 326px;
    margin-left: 16px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 16px;
    margin-left: 41px;
  }

  .u-section-3 .u-custom-html-3 {
    min-height: 238px;
    margin-top: 72px;
    margin-right: 16px;
    margin-left: 41px;
    width: 340px;
  }

  .u-section-3 .u-shape-5 {
    margin-top: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shape-6 {
    margin-top: -209px;
    margin-left: 16px;
  }

  .u-section-3 .u-shape-7 {
    margin-top: 103px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shape-8 {
    margin-top: -203px;
    margin-left: 16px;
  }

  .u-section-3 .u-custom-html-4 {
    min-height: 209px;
    margin-top: -164px;
    margin-right: 16px;
    margin-left: 41px;
    width: 340px;
  }

  .u-section-3 .u-custom-html-5 {
    min-height: 212px;
    margin-top: -473px;
    margin-right: 16px;
    margin-left: 41px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 266px;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 202px;
  width: 1073px;
  margin: 45px auto 19px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-custom-html-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 46px;
    margin-bottom: 46px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-bottom: 25px;
    min-height: 368px;
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 612px;
}

.u-section-5 .u-slider-1 {
  width: 1020px;
  min-height: 485px;
  height: auto;
  margin: 50px auto 60px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-image-1 {
  background-image: url("images/darton-6-panels-sandwich-keps-1-2.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 345px;
  margin: 60px 369px 0 86px;
}

.u-section-5 .u-image-2 {
  background-image: url("images/6-panels-keps.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 3px 80px 3px 70px;
}

.u-section-5 .u-custom-html-2 {
  height: auto;
  min-height: 452px;
  margin: 27px 253px 0 0;
}

.u-section-5 .u-image-3 {
  background-image: url("images/broderade-oljetter-for-2.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 3px 80px 3px 70px;
}

.u-section-5 .u-custom-html-3 {
  height: auto;
  min-height: 304px;
  margin: 27px 441px 0 0;
}

.u-section-5 .u-image-4 {
  background-image: url("images/darton-6-panels-sandwich-keps.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 3px 80px 3px 70px;
}

.u-section-5 .u-custom-html-4 {
  height: auto;
  min-height: 320px;
  margin: 27px 0 0 17px;
}

.u-section-5 .u-image-5 {
  background-image: url("images/kepsar-med-tryck.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 3px 80px 3px 70px;
}

.u-section-5 .u-custom-html-5 {
  height: auto;
  min-height: 381px;
  margin: 27px 550px 0 0;
}

.u-section-5 .u-image-6 {
  background-image: url("images/broderade-oljetter-for.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 3px 80px 3px 70px;
}

.u-section-5 .u-custom-html-6 {
  height: auto;
  min-height: 381px;
  margin: 27px 559px 0 17px;
}

.u-section-5 .u-image-7 {
  background-image: url("images/av-keps-2.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 0 61px;
}

.u-section-5 .u-custom-html-7 {
  height: auto;
  min-height: 278px;
  margin: 49px 0 0 563px;
}

.u-section-5 .u-image-8 {
  background-image: url("images/kepsar-med-tryck-1.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 0 61px;
}

.u-section-5 .u-custom-html-8 {
  height: auto;
  min-height: 278px;
  margin: 186px 0 0 403px;
}

.u-section-5 .u-image-9 {
  background-image: url("images/av-keps-11.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-9 {
  padding: 3px 80px 3px 70px;
}

.u-section-5 .u-custom-html-9 {
  height: auto;
  min-height: 381px;
  margin: 27px 497px 0 17px;
}

.u-section-5 .u-image-10 {
  background-image: url("images/6-panels-keps-21.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-10 {
  padding: 3px 80px 3px 70px;
}

.u-section-5 .u-custom-html-10 {
  height: auto;
  min-height: 278px;
  width: 870px;
  margin: 11px auto 0;
}

.u-section-5 .u-custom-html-11 {
  height: auto;
  min-height: 188px;
  width: 870px;
  margin: -50px auto 0;
}

.u-section-5 .u-image-11 {
  background-image: url("images/av-keps.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-11 {
  padding: 3px 80px 3px 70px;
}

.u-section-5 .u-custom-html-12 {
  height: auto;
  min-height: 350px;
  margin: 68px 443px 0 0;
}

.u-section-5 .u-image-12 {
  background-image: url("images/broderade-oljetter-for-1.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-12 {
  padding: 3px 67px;
}

.u-section-5 .u-custom-html-13 {
  height: auto;
  min-height: 426px;
  margin: 0 151px 0 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 44px;
  height: 44px;
  background-image: none;
  left: -22px;
  position: absolute;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  width: 44px;
  height: 44px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -22px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-slider-1 {
    width: 940px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: 40px;
    margin-right: 321px;
    margin-left: 66px;
  }

  .u-section-5 .u-custom-html-2 {
    margin-right: 53px;
  }

  .u-section-5 .u-custom-html-3 {
    margin-right: 241px;
  }

  .u-section-5 .u-custom-html-4 {
    margin-left: 0;
  }

  .u-section-5 .u-custom-html-5 {
    margin-right: 350px;
  }

  .u-section-5 .u-custom-html-6 {
    margin-right: 376px;
    margin-left: 0;
  }

  .u-section-5 .u-custom-html-7 {
    margin-left: 463px;
  }

  .u-section-5 .u-custom-html-8 {
    margin-left: 303px;
  }

  .u-section-5 .u-custom-html-9 {
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-5 .u-custom-html-10 {
    width: 790px;
  }

  .u-section-5 .u-custom-html-11 {
    width: 790px;
  }

  .u-section-5 .u-image-11 {
    background-position: 50% 43.95%;
  }

  .u-section-5 .u-custom-html-12 {
    margin-right: 243px;
    width: 790px;
  }

  .u-section-5 .u-custom-html-13 {
    margin-right: 0;
    width: 790px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-slider-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-right: 131px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-custom-html-2 {
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-5 .u-custom-html-3 {
    min-height: 381px;
    margin-top: 32px;
    margin-right: 279px;
    margin-left: 50px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-custom-html-5 {
    margin-right: 220px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-custom-html-6 {
    margin-right: 246px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-custom-html-7 {
    min-height: 304px;
    margin-top: 34px;
    margin-right: 387px;
    margin-left: 29px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-custom-html-8 {
    margin-left: 146px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-custom-html-9 {
    margin-right: 184px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-custom-html-10 {
    width: 660px;
  }

  .u-section-5 .u-custom-html-11 {
    width: 660px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-custom-html-12 {
    margin-right: 113px;
    width: 660px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-custom-html-13 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-slider-1 {
    width: 540px;
    min-height: 595px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    background-position: 83.88% 50%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-right: 41px;
  }

  .u-section-5 .u-image-2 {
    background-position: 91.39% 50%;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-image-3 {
    background-position: 71.11% 50%;
  }

  .u-section-5 .u-custom-html-3 {
    margin-top: 264px;
    margin-right: 50px;
    margin-left: 70px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-5 .u-custom-html-5 {
    margin-top: 195px;
    margin-right: 123px;
    margin-left: 77px;
  }

  .u-section-5 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-5 .u-custom-html-6 {
    min-height: 253px;
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 60px;
  }

  .u-section-5 .u-image-7 {
    background-position: 10.52% 50%;
  }

  .u-section-5 .u-custom-html-7 {
    min-height: 369px;
    margin-top: 44px;
    margin-right: 199px;
    margin-left: 60px;
  }

  .u-section-5 .u-image-8 {
    background-position: 18.98% 50%;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-custom-html-8 {
    min-height: 304px;
    margin-top: 251px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-5 .u-image-9 {
    background-position: 100% 50%;
  }

  .u-section-5 .u-container-layout-9 {
    padding: 0 60px;
  }

  .u-section-5 .u-custom-html-9 {
    min-height: 340px;
    width: 420px;
    margin-top: 237px;
    margin-right: 0;
  }

  .u-section-5 .u-image-10 {
    background-position: 100% 50%;
  }

  .u-section-5 .u-container-layout-10 {
    padding: 0;
  }

  .u-section-5 .u-custom-html-10 {
    min-height: 381px;
    width: 499px;
    margin-top: 0;
  }

  .u-section-5 .u-custom-html-11 {
    min-height: 265px;
    width: 500px;
    margin-top: -29px;
    margin-bottom: -7px;
  }

  .u-section-5 .u-image-11 {
    background-position: 50% 99.37%;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-custom-html-12 {
    width: 420px;
    margin-top: 202px;
    margin-right: 0;
  }

  .u-section-5 .u-image-12 {
    background-position: 63.53% 50%;
  }

  .u-section-5 .u-container-layout-12 {
    padding: 0;
  }

  .u-section-5 .u-custom-html-13 {
    min-height: 549px;
    width: 483px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 810px;
    width: 355px;
    margin-top: 35px;
    margin-right: -15px;
  }

  .u-section-5 .u-image-1 {
    background-position: 75.37% 50%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-5 .u-custom-html-1 {
    min-height: 368px;
    width: 309px;
    margin-top: 394px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    background-position: 98.94% 50%;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-5 .u-custom-html-2 {
    min-height: 644px;
    width: 335px;
    margin-top: 145px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    background-position: 83.24% 50%;
  }

  .u-section-5 .u-custom-html-3 {
    min-height: 368px;
    width: 335px;
    margin-top: 392px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-custom-html-4 {
    min-height: 593px;
    width: 335px;
    margin-top: 197px;
  }

  .u-section-5 .u-image-5 {
    background-position: 62.01% 50%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-custom-html-5 {
    width: 335px;
    margin-top: 411px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-custom-html-6 {
    width: 335px;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-custom-html-7 {
    margin-top: 14px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-5 .u-image-8 {
    background-position: 24.4% 50%;
  }

  .u-section-5 .u-container-layout-8 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-custom-html-8 {
    min-height: 342px;
    width: 335px;
    margin-top: 456px;
    margin-right: 0;
  }

  .u-section-5 .u-image-9 {
    background-position: 99.18% 50%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-custom-html-9 {
    min-height: 394px;
    width: 335px;
    margin-top: 393px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-10 {
    background-position: 63.79% 50%;
  }

  .u-section-5 .u-custom-html-10 {
    width: 340px;
  }

  .u-section-5 .u-custom-html-11 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-11 {
    padding: 0;
  }

  .u-section-5 .u-custom-html-12 {
    min-height: 439px;
    width: 320px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-custom-html-13 {
    width: 340px;
  }
}.white-background {
background-color:rgba(192,192,192,0.3);
	padding: 10px 10px;
}
.bg-transparent {
}